<div ng-controller="ModalSyncCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Configurar ingressos</h3>
        </div>
        <div class="modal-body">
          <form name="changeSyncTime" class="form-horizontal">
              <div class="form-group">
                <label for="ticketCod" class="col-sm-3 control-label">Novo ingresso:</label>
                <div class="col-sm-8">
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="ticketCod" ng-model="ticket.cod" ng-required="true">
                  </div>
                  <div class="col-sm-3">
                    <button class="btn btn-success" type="button" ng-click="addTicket()">Adicionar</button>
                  </div>
                </div>
              </div>
            </form>
            <table class="table">
  						<thead>
  							<tr><th class="text-center">Ingressos</th><th>Ações</th></tr>
  						</thead>
  						<tbody>
  							<tr ng-repeat="ticket in ticketList"><td class="text-center">{{ticket.cod}}</td><td><a ng-click="delTicket(ticket._id)"><i class="fa fa-trash"></i></a></td></tr>
                <tr ng-show="ticketList.length === 0"><td>Não há ingressos cadastrados para essa sala.</td></tr>
  						</tbody>
  					</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
</div>
