<div ng-controller="ModalCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Adicionar video</h3>
        </div>
        <div class="modal-body">
          <form name="addVideo" class="form-horizontal">
              <div class="form-group">
                <label for="tituloVideo" class="col-sm-3 control-label">Titulo do video:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="tituloVideo" ng-model="video.title" ng-required="true" placeholder="Digite o titulo do vídeo">
                </div>
              </div>
              <div class="form-group">
                <label for="autorVideo" class="col-sm-3 control-label">Autor:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="autorVideo" ng-model="video.author" ng-required="true" placeholder="Digite o autor do vídeo">
                </div>
              </div>
              <div class="form-group">
                <label for="anoVideo" class="col-sm-3 control-label">Ano:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="anoVideo" ng-model="video.year" ng-required="true" placeholder="Digite o ano do vídeo">
                </div>
              </div>
              <div class="form-group">
                <label for="tipoVideo" class="col-sm-3 control-label">Tipo de video:</label>
                <div class="col-sm-9">
                  <select class="form-control" ng-model="video.type" ng-required="true" id="tipoVideo">
                    <option value="video" selected>Video only</option>
                    <option value="videolibras">Video, Libras</option>
                    <option value="videoad">Video, AD</option>
                    <option value="videolibrasad">Video, Libras, AD</option>
                    <option value="videoadlibrassrt">Video, Libras, AD, SRT</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="arquivoVideo" class="col-sm-3 control-label">Arquivo de video:</label>
                <div class="col-sm-9">
                  <input type="file" id="arquivoVideo" name="file" ng-required="true" multiple onchange="angular.element(this).scope().uploadFiles(this)">
                </div>
              </div>
              <div class="form-group" ng-show="video.type === 'videolibras' || video.type === 'videolibrasad' || video.type === 'videoadlibrassrt'">
                <label for="arquivoLibras" class="col-sm-3 control-label">Arquivo de LIBRAS:</label>
                <div class="col-sm-9">
                  <input type="file" id="arquivoLibras" name="file" ng-required="true" multiple onchange="angular.element(this).scope().uploadFiles(this)">
                </div>
              </div>
              <div class="form-group" ng-show="video.type === 'videolibrasad' || video.type === 'videoad' || video.type === 'videoadlibrassrt'">
                <label for="arquivoAD" class="col-sm-3 control-label">Arquivo de AD:</label>
                <div class="col-sm-9">
                  <input type="file" id="arquivoAD" name="file" ng-required="true" multiple onchange="angular.element(this).scope().uploadFiles(this)">
                </div>
              </div>
              <div class="form-group" ng-show="video.type === 'videoadlibrassrt'">
                <label for="arquivoSRT" class="col-sm-3 control-label">Arquivo de Legenda:</label>
                <div class="col-sm-9">
                  <input type="file" id="arquivoSRT" name="file" ng-required="true" multiple onchange="angular.element(this).scope().uploadFiles(this)">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="newVideo(video)">Adicionar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
</div>
