<div ng-controller="ModalTimeCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Alterar tempo do vídeo</h3>
        </div>
        <div class="modal-body">
          <form name="changeSyncTime" class="form-horizontal">
              <div class="form-group">
                <label for="syncTime" class="col-sm-3 control-label">Tempo:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="syncTime" ng-model="time.value" ng-required="true" placeholder="exemplo: 500 ou -500 (em miliseconds)">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="changeTime()">Alterar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
</div>
