<div ng-controller="ModalSyncCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Alterar tempo de sync</h3>
        </div>
        <div class="modal-body">
          <form name="changeSyncTime" class="form-horizontal">
              <div class="form-group">
                <label for="syncTime" class="col-sm-3 control-label">Tempo de Sync:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="syncTime" ng-model="sync.value" ng-required="true">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="changeSync()">Alterar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
</div>
