<!-- <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <!-- <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div> -->
<div ng-controller="IndexCtrl">
<div class="row">
  <div class="col-lg-2 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-video-camera fa-lg"></i>
				</div>
				<div class="title">{{videoList.length}}</div>
				<div class="comment">Vídeo</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-2 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{qtdClients}}</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>

  <div style="line-height: 26.5px;" class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			   <rd-widget-body>
           <div class="widget-icon blue pull-left">
					            <i class="fa fa-clock-o"></i>
				       </div>
				   <div class="title">{{sync.value}}</div>
				   <div class="comment">Sync Time</div>
			</rd-widget-body>
		</rd-widget>
	</div>


  <div class="col-lg-5 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
        <div class="preload" ng-show="actualVideo.started === 'false'">
          <div class="widget-icon green pull-left" ng-click="startVideo()">
  					<a href="#"><i class="fa fa-play"></i></a>
  				</div>
          <div class="widget-icon red pull-left" ng-click="cancelPreload()">
  					<a href="#"><i class="fa fa-times"></i></a>
  				</div>
          <div class="title">Vídeo em pré-load</div>
          <div class="comment">{{actualVideo.video}}</div>
          </video>

        </div>
        <div class="started" ng-show="actualVideo.started === 'true'">
          <div class="widget-icon red pull-left">
  					<a href="#" ng-click="stopVideo()"><i class="fa fa-stop"></i></a>
  				</div>
				  <div class="title">Vídeo em execução</div>
          <div class="comment">{{actualVideo.video}}</div>
        </div>
        <div class="unknown" ng-show="actualVideo.started === 'unknown'">
				  <div class="title">Não há video em execução</div>
        </div>
        <video id="videoPlayer" ng-show="actualVideo.started != 'unknown'" height="200px" width="240px" ng-src="{{getVideoURL(actualVideo.videoUrl)}}" controls>
        </video>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Videos">
				<!-- <a href="#">Administra</a> -->
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
            <thead>
              <tr><th class="text-center">Título</th><th>Autor</th><th>Ano</th><th>Pré-load</th><th>Remover</th></tr>
            </thead>
						<tbody>
              <tr ng-show="videoList.length === 0"><td>Não há videos cadastrados.</td></tr>
              <tr ng-repeat="video in videoList"><td>{{video.title}}</td><td>{{video.author}}</td><td>{{video.year}}</td><td><a ng-click="preloadVideo(video.id)"><i class="fa fa-play-circle"></i></a></td><td><a ng-click="delVideo(video.id)"><i class="fa fa-trash"></i></a></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Usuários ativos">
				<a ng-click="resetUsers()">Resetar</a>
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table" ng-controller="RefreshCtrl as refresh">
						<thead>
							<tr><th class="text-center">IP</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="ip in clientList"><td class="text-center">{{ip}}</td></tr>
              <tr ng-show="clientList.length === 0"><td>Não há clientes conectados.</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
</div>
