<!doctype html>
<html lang="pt-br" ng-app="cineacesso">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CineAcesso - Dashboard</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.css">
  <link rel="stylesheet" type="text/css" href="components/angular-toastr/dist/angular-toastr.min.css" />
  <link rel="stylesheet" type="text/css" href="components/angular-loading-bar/src/loading-bar.css"/>


  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/angular-loading-bar/src/loading-bar.js"></script>
  <script type="text/javascript" src="components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            CineAcesso
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Navegação</span></li>
        <li class="sidebar-list">
          <a href="#" ng-click="openModal()">Adicionar vídeo<span class="menu-icon fa fa-plus"></span></a>
          <a href="#" ng-click="openModalTicket()">Ingressos<span class="menu-icon fa fa-ticket"></span></a>
          <a href="#" ng-click="openModalTime()">Tempo do vídeo<span class="menu-icon fa fa-video-camera"></span></a>
          <a href="#" ng-click="openModalSync()">Tempo do sync<span class="menu-icon fa fa-clock-o"></span></a>
        </li>
        <!-- <li class="sidebar-list">
          <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li> -->
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="#">
            Sobre
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            Contato
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Equipe LAViD
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Meu perfil
                    </a>
                  </li>
                  <!-- <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li> -->
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#">
                      Sair
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notificações
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Administração
              </div>
              <div class="breadcrumb-links">
                Página Inicial / Administração
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
